*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(202, 169, 245);
  }
  .main{
    margin-top: 20%;
    height: 100vh;
    text-align: center;
    color:aliceblue;
    font-weight: bold;
    padding: 100px;
  }
  
  .heading
  {
  
    color: brown;
  }
  
  .ans {
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
  .gen{
    background-color: #F5873D;
    color:white;
    font-size:small;
    font-weight: 600;
    border: none;
    width: 120px;
    border-radius: 5px;
    height: 30px;
    margin-left: 10px;
  }